<div class="container mt-5">
  <h2>
    <strong>My Private Files</strong>
  </h2>
  <div class="row">
    <table class="table">
      <tr>
        <th style="width: 20%;">Name</th>
        <th style="width: 10%;">Extension</th>
        <th style="width: 10%;">User</th>
        <th style="width: 10%;">Creation Date</th>
        <th style="width: 20%;"></th>
      </tr>
      <tr *ngFor="let item of storageItems">
        <td>{{item.displayName}}</td>
        <td>{{item.extension}}</td>
        <td>{{item.user.userName}}</td>
        <td>{{item.createdOn | date:'yyyy-MM-dd hh:mm'}}</td>
        <td>
          <button class="btn btn-info mr-1">Share</button>
          <!-- <button class="btn btn-info mr-1">Download F</button> -->
          <button class="btn btn-info mr-1" (click)="downloadActualItems(item.id, item.displayName)">Download</button>
          <button class="btn btn-info">Move to Recycle Bin</button>
        </td>
      </tr>
    </table>
  </div>
</div>