<div class="container mt-5">
  <h6>
    My Recycle Bin
  </h6>
  <div class="row">
    <table class="table">
      <tr>
        <th style="width: 3%;"></th>
        <th style="width: 10%;">Name</th>
        <th style="width: 10%;">Extension</th>
        <th style="width: 10%;">Is Public</th>
        <th style="width: 10%;">Creation Date</th>
        <th style="width: 20%;">Actions</th>
      </tr>
      <tr *ngFor="let item of recycledItems">
        <td><i class="fa fa-file" aria-hidden="true"></i></td>
        <td>{{item?.displayName}}</td>
        <td>{{item?.extension}}</td>
        <td>{{item?.isPublic}}</td>
        <td>{{item?.createdOn | date:'yyyy-MM-dd hh:mm'}}</td>
        <td>
          <button class="btn btn-outline-success mt-1 mr-1" (click)="openModal(restoreTemplate, item)" title="Restore">
            <i class="fa fa-reply" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-danger mt-1 " (click)="openModal(deleteTemplate, item)" title="Delete">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #restoreTemplate>
  <div class="modal-body text-center">
    <p>Do you want to <strong>Restore</strong> this item?</p>
    <button type="button" class="btn btn-default" (click)="confirmRestore()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Do you want to <strong>Delete</strong> this item?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>