<div class="container">

  <form class="form-inline mt-2" #form="ngForm" (ngSubmit)="getActualItems()" novalidate>
    <div class="form-group">
      <label for="minAge">Size From</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minSize" 
        [(ngModel)]="this.itemParams.minSize" name="minSize">
    </div>
  
    <div class="form-group px-2">
      <label for="maxAge">Size To</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="maxSize" 
      [(ngModel)]="this.itemParams.maxSize" name="maxSize">
    </div>
  
    <button type="submit" class="btn btn-outline-success  mr-1" style="margin-left:10px">Apply Filter</button>
    <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>
    
    <div class="text-right" style="margin-left:20px">
      <h6><b>Total Items - {{pagination?.totalItems}}</b></h6>
    </div>
    
  </form>

  <div>
    <table class="table mt-2">
      <tr>
        <th style="width: 3%;">
          <button class="btn btn-outline-success pull-right" title="Refresh" (click)="getActualItems()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </th>
        <th style="width: 50%;">
          Name
        </th>
        <th>Size</th>
        <th>Extension</th>
        <th>Is Public</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of storageItems">
        <td>
          <i class="fa fa-file" aria-hidden="true"></i>
        </td>
        <td>{{item?.displayName}}</td>
        <td>{{item?.size/1024/1024 |  number:'1.0-2'}} MB</td>
        <td>{{item?.extension}}</td>
        <td>{{item?.isPublic}}</td>
        <td>{{item?.createdOn | date: 'mediumDate'}}</td>
        <td>
          <button class="btn btn-outline-success mt-1 mr-1" (click)="openModal(toPublicTemplate, item)" title="Share">
            <i class="fa fa-share-alt-square" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-info mt-1 mr-1" (click)="downloadActualItems(item.id, item.displayName)"
            title="Download">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-warning mt-1" (click)="openModal(toRecycleBinTemplate, item)"
            title="To Recycle Bin">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="footer fixed-bottom">
  <div class="d-flex justify-content-center mt-3">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination?.totalItems"
      [itemsPerPage]="pagination?.itemsPerPage" 
      [(ngModel)] = "currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">

    </pagination>
  </div>
</div>

<ng-template #toRecycleBinTemplate>
  <div class="modal-body text-center">
    <p>Do you want to <strong>move to Recycle bin</strong> this item?</p>
    <button type="button" class="btn btn-default" (click)="confirmPreDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #toPublicTemplate>
  <div class="modal-body text-center">
    <p>Do you want to <strong>move to Public</strong> this item?</p>
    <button type="button" class="btn btn-default" (click)="confirmPrePublic()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>