<div class="row mt-3">

    <div class="col-md-3">

        <h5>Upload Files</h5>

        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" 
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader" 
            class="card bg-faded p-3 text-center mb-3 my-drop-zone">
            <i class="fa fa-upload fa-5x"></i>
            Drop Files Here
        </div>

        Select Multiple Files
        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h5>List for Uploading</h5>
        <p>Quantity: {{ uploader?.queue?.length }}</p>
        
        <div>
            <div>
                Progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mr-1" (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload All
            </button>
            <button type="button" class="btn btn-info mr-1" (click)="uploader.cancelAll()"
                [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel All
            </button>
            <button type="button" class="btn btn-warning mr-1" (click)="uploader.clearQueue()"
                [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove All
            </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-primary  mr-1" (click)="item.upload() "
                            [disabled]="item.isReady || item.isUploading || item.isSuccess" title="Upload">
                            <span class="fa fa-upload"></span>
                        </button>
                        <button type="button" class="btn btn-info mr-1" (click)="item.cancel()"
                            [disabled]="!item.isUploading" title="Cancel">
                            <span class="fa fa-ban"></span>
                        </button>
                        <button type="button" class="btn btn-warning mr-1" (click)="item.remove()"
                            title="Remove">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>