<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h1 class="text-center text-primary">
    <b>Sign Up</b>
  </h1>
  <hr>

  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': registerForm.get('username').errors 
      && registerForm.get('username').touched}" class="form-control is-invalid" formControlName="username"
      placeholder="Username">
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors 
        && registerForm.get('password').touched}" 
      class="form-control" 
      formControlName="password" 
      placeholder="Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') 
        && registerForm.get('password').touched">
        Password is required
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') 
        && registerForm.get('password').touched">
        Password must be at least 4 characters
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') 
        && registerForm.get('password').touched">
        Password cannot exceed 8 characters
      </div>
  </div>

  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
      && registerForm.get('confirmPassword').touched
      || registerForm.get('confirmPassword').touched
      && registerForm.hasError('isNotEqual')}" 

      class="form-control" formControlName="confirmPassword"
      placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
        && registerForm.get('confirmPassword').touched">
        Password confirmation is required
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.hasError('isNotEqual') 
        && registerForm.get('confirmPassword').touched">
        Password confirmation is not equal the password
      </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>