<div class="row">
  <table class="table">
    <tr>
      <th style="width: 3%;"></th>
      <th style="width: 20%;">User Name</th>
      <th style="width: 20%;">Active Roles</th>
      <th style="width: 20%;"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        <i class="fa fa-user" aria-hidden="true"></i>
      </td>
      <td>{{user.userName}}</td>
      <td><p *ngFor="let role of user.roles">{{role}}</p></td>
      <td><button class="btn btn-info" (click)="editRolesModal(user)">Edit Roles</button></td>
    </tr>
  </table>
</div>
