<div class="container mt-5">
  <h6>
    Public Files
  </h6>
  <div class="row">
    <table class="table">
      <tr>
        <th style="width: 3%;">
          <button class="btn btn-outline-success pull-right" title="Refresh" (click)="getPublicItems()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </th>
        <th style="width: 50%;">Name</th>
        <th>Size</th>
        <th>Extension</th>
        <th>Owner</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of publicItems">
        <td>
          <i class="fa fa-file" aria-hidden="true"></i>
        </td>
        <td>{{item?.displayName}}</td>
        <td>{{item?.size/1024/1024 |  number:'1.0-2'}} MB</td>
        <td>{{item?.extension}}</td>
        <td>{{item?.user.userName}}</td>
        <td>{{item?.createdOn | date: 'mediumDate'}}</td>
        <td>
          <button [disabled]="item?.user.userName != getCurrentUserId()" class="btn btn-outline-success mt-1 mr-1" (click)="openModal(privateTemplate, item)" title="Make Private">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-info mt-1 mr-1" (click)="downloadPublicItems(item.id, item.displayName)"
            title="Download">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="footer fixed-bottom">
  <div class="d-flex justify-content-center mt-3">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination?.totalItems"
      [itemsPerPage]="pagination?.itemsPerPage" 
      [(ngModel)] = "currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">

    </pagination>
  </div>
</div>

<ng-template #privateTemplate>
  <div class="modal-body text-center">
    <p>Do you want to <strong>Set Private</strong> this item?</p>
    <button type="button" class="btn btn-default" (click)="confirmPrivate()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>