<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Store your files</h1>
    <p class="lead">Come on in to store your files... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" [disabled]="loggedIn()" (click)="registerToggle()">Register</button>
      <button class="btn btn-warning btn-lg" (click)="moveToFiles()">Go to your files</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>